<% var data = {
title: "Волжский утес"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>


<div class="breadcrumbs">
    <a href="/">Главная</a>
    <a href="/">Санаторий</a>
    <span>О санатории</span>
</div>
<div class="section p-all-0 m-t-0">
    <div class="container">
        <h2 class="text-align-center m-t-15 m-b-30 h1">О санатории</h2>
        <div class="submenu m-b-30 p-b-25">
            <a href="/" class="submenu__active">О санатории</a>
            <a href="/">Врачебный состав</a>
            <a href="/">Отзывы</a>
            <a href="/">История</a>
            <a href="/">Карта санатория</a>
            <a href="/">Сертификаты</a>
            <a href="/">Акции</a>
            <a href="/">Конференции</a>
            <a href="/">Правила проживания</a>
        </div>
    </div>
</div>
<div class="section p-all-0 m-t-0">
    <div class="container">
        <div class="advantage-wrapper">
            <div class="w-60 col2">
                <div class="advantage" style="background-image: url('./img/others/about/item-1.jpg');">
                </div>
            </div>
            <div class="w-40 p-left col3">
                <div class="cell">
                    <h3>Красивая природа</h3>
                    <p class="medium-text">Расположен в живописном районе Самарской области в большом лесном массиве на берегу Жигулевского моря. Уникальные климатические особенности и соседство с
                        самым большим в Европе искусственным озером оказывает благоприятное и оздоравливающее воздействие на организм.
                    </p>
                </div>
            </div>
            <div class="clr"></div>
        </div>

        <div class="advantage-wrapper">
            <div class="w-60 col col4">
                <div class="advantage" style="background-image: url('./img/others/about/item-2.jpg');">
                </div>
            </div>
            <div class="w-40 p-right col5">
                <div class="cell">
                    <h3>Огромная территория</h3>
                    <p class="medium-text">На 400 гектарах расположись 3 корпуса Санатория, этнографический комплекс «Волжская Слобода», современная Бальнеологическая лечебница, Павильон Переговоров,
                        горнолыжная трасса и множество других объектов. Но большую часть занимает хвойный лес, который будто обнимает Санаторий. Против красоты живописной природы этого района трудно
                        устоять! Наш многопрофильный санаторно-курортный комплекс не раз признавался лучшим в разных категориях.
                    </p>
                </div>
            </div>
            <div class="clr"></div>

        </div>
        <div class="advantage-wrapper">
            <div class="w-60 col2">
                <div class="advantage" style="background-image: url('./img/others/about/item-3.jpg');">
                </div>
            </div>
            <div class="w-40 p-left col3">
                <div class="cell">
                    <h3>Лечение и отдых</h3>
                    <p class="medium-text">Мы успешно лечим болезни сердца и сосудов, опорно-двигательного аппарата, эндокринной и нервной системы, заболевания желудочно-кишечного тракта. Постоянное
                        совершенствование нашей работы, обновление медицинского оборудования и многолетний опыт наших сотрудников позволяют создавать все условия, чтобы лечение было эффективным и
                        быстрым. Мы ежедневно доказываем, что лечение можно сочетать с первоклассным отдыхом!
                    </p>
                </div>
            </div>
            <div class="clr"></div>
        </div>

        <div class="advantage-wrapper">
            <div class="w-60 col col4">
                <div class="advantage" style="background-image: url('./img/others/about/item-4.jpg');">
                </div>
            </div>
            <div class="w-40 p-right col5">
                <div class="cell">
                    <h3> Мероприятия</h3>
                    <p class="medium-text">Полностью реконструированный Санаторий «Волжский утес»® в 2007 году стал местом проведения саммита «Россия - Евросоюз», официальная часть которого проходила
                        в Павильоне Переговоров. Санаторий является прекрасной площадкой для проведения различных мероприятий. Здесь с успехом проводят корпоративные и деловые встречи, презентации,
                        выставки, а также семейные торжества, такие как бесподобные свадьбы, душевные дни рождения и многие другие! Выбрав Санаторий «Волжский утес»® местом своего отдыха, оздоровления
                        или проведения торжественного события, Вы примите верное решение!
                    </p>
                </div>
            </div>
            <div class="clr"></div>

        </div>
        <div class="advantage-wrapper">
            <div class="w-60 col2">
                <div class="advantage" style="background-image: url('./img/others/about/item-5.jpg');">
                </div>
            </div>
            <div class="w-40 p-left col3">
                <div class="cell">
                    <h3>Высокие стандарты</h3>
                    <p class="medium-text">Система менеджмента санатория "Волжский утес" соответствует требованиям международных стандартов ISO 9001:2015 и требованиям национального стандарта ГОСТ Р
                        54934-2012/OHSAS 18001:2007, в области оказания услуг санаторно-курортного лечения и оздоровления.
                    </p>
                </div>
            </div>
            <div class="clr"></div>
        </div>
    </div>
</div>

<div class="section p-b-0">
    <div class="main-video">
        <div id="video_main" class="main-video__bg">
            <div class="dark45"></div>
            <video autoplay id="about__video" loop muted src="http://www.volgacliff.ru/wp-content/themes/nadezhda/app/video/video.mp4"></video>
        </div>
        <div class="main-video__text">
            <h2 class="text-align-center color-white">
                Видео о санатории
            </h2>
            <p class="text-align-center">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porttitor quis metus nec tincidunt.
            </p>
            <span class="icon icon-play  m-t-50" id="about__video-play"></span>
        </div>
    </div>
</div>

<div class="section sections-block p-b-0">
    <div class="container">
        <div class="info-icons info-icons__about">
            <div class="info-icons__main m-b-50">
                <img src="./img/others/about-director.png" alt="director">
                <h3 class="m-b-0 m-t-20">Жуков Дмитрий Львович</h3>
                <p class="text16 m-t-0">Директор санатория</p>
            </div>
            <div class="row">
                <div class="col w-25 w-50-mobile">
                    <div class="item">
                        <span class="icon icon-001-time-and-date"></span>
                        <span class="text h1">1976</span>
                        <span class="text text16">Год основания санатория</span>
                    </div>
                </div>
                <div class="col w-25 w-50-mobile">
                    <div class="item">
                        <span class="icon icon-002-forest"></span>
                        <span class="text h1">400 га</span>
                        <span class="text text16">Территория санатория</span>
                    </div>
                </div>
                <div class="clr hide-desktop"></div>
                <div class="col w-25 w-50-mobile">
                    <div class="item">
                        <span class="icon icon-003-house-key"></span>
                        <span class="text h1">192</span>
                        <span class="text text16">Уютных номеров разных категорий</span>
                    </div>
                </div>
                <div class="col w-25 w-50-mobile">
                    <div class="item">
                        <span class="icon icon-004-alpine"></span>
                        <span class="text h1">600 м</span>
                        <span class="text text16">Протяженность горнолыжной трассы</span>
                    </div>
                </div>
                <div class="clr hide-desktop"></div>
                <div class="clr hide-mobile hide-tablet"></div>

            </div>
        </div>
    </div>
</div>

<div class="gallery__slider">
    <div class="gallery__slider-wrapper">
        <div class="gallery__slider-close"></div>
        <div class="gallery-prev">
            <span class="icon-up-arrow-3"></span>
        </div>
        <div class="gallery__slider-big"></div>
        <div class="gallery-next">
            <span class="icon-up-arrow-3"></span>
        </div>
        <div class="gallery__slider-small"></div>
        <div class="license-slider"></div>
    </div>
</div>
<div class="section sections-block p-b-0">
    <div class="container">
        <h2 class="m-t-0">Галерея</h2>
        <div class="gallery">
            <div class="row">
                <div class="col w-33 w-50-tablet w-50-mobile gallery__item" data-slide="1">
                    <div class="item">
                        <img alt="1" src="./img/others/gallery/item-1.png">
                    </div>
                </div>
                <div class="col w-33 w-50-tablet w-50-mobile gallery__item" data-slide="2">
                    <div class="item">
                        <img alt="2" src="./img/others/gallery/item-2.png">
                    </div>
                </div>
                <div class="clr hide-desktop"></div>
                <div class="col w-33 w-50-tablet w-50-mobile gallery__item" data-slide="3">
                    <div class="item">
                        <img alt="3" src="./img/others/gallery/item-3.png">
                    </div>
                </div>
                <div class="clr hide-mobile hide-tablet"></div>
                <div class="col w-33 w-50-tablet w-50-mobile gallery__item" data-slide="4">
                    <div class="item">
                        <img alt="4" src="./img/others/gallery/item-4.png">
                    </div>
                </div>
                <div class="clr hide-desktop"></div>
                <div class="col w-33 w-50-tablet w-50-mobile gallery__item" data-slide="5">
                    <div class="item">
                        <img alt="5" src="./img/others/gallery/item-5.png">
                    </div>
                </div>
                <!-- После data-slide="5" - этот 6 блок общий-->
                <div class="col w-33 w-50-tablet w-50-mobile gallery__item" data-slide="1">
                    <div class="item more-item">
                        <img alt="5" src="./img/others/gallery/item-5.png">
                        <span>Еще <span>3</span> фото</span>
                        <div class="yellow-bg"></div>
                    </div>
                </div>
                <div class="clr hide-mobile hide-tablet"></div>
                <!-- После data-slide="5" следующие блоки скрыты-->
                <div class="col w-33 w-50-tablet w-50-mobile gallery__item hidden" data-slide="6">
                    <div class="item">
                        <img alt="1" src="./img/others/gallery/item-1.png">
                    </div>
                </div>
                <div class="col w-33 w-50-tablet w-50-mobile gallery__item hidden" data-slide="7">
                    <div class="item">
                        <img alt="2" src="./img/others/gallery/item-2.png">
                    </div>
                </div>
                <div class="col w-33 w-50-tablet w-50-mobile gallery__item hidden" data-slide="8">
                    <div class="item">
                        <img alt="3" src="./img/others/gallery/item-3.png">
                    </div>
                </div>
                <div class="col w-33 w-50-tablet w-50-mobile gallery__item hidden" data-slide="9">
                    <div class="item">
                        <img alt="4" src="./img/others/gallery/item-4.png">
                    </div>
                </div>
                <div class="col w-33 w-50-tablet w-50-mobile gallery__item hidden" data-slide="9">
                    <div class="item">
                        <img alt="4" src="./img/test.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section sections-block p-b-30">
    <div class="container">
        <h2 class="m-t-0">Лицензия на осуществление медицинской деятельности</h2>
        <div class="docs">
            <div class="item" data-slide="1">
                <img src="./img/others/license/item-1.png" alt="1" >
            </div>
            <div class="item" data-slide="2">
                <img src="./img/others/license/item-2.png" alt="2" >
            </div>
            <div class="item" data-slide="3">
                <img src="./img/others/license/item-3.png" alt="3" >
            </div>
            <div class="item" data-slide="4">
                <img src="./img/others/license/item-4.png" alt="4" >
            </div>
            <div class="item" data-slide="5">
                <img src="./img/others/license/item-5.png" alt="5" >
            </div>
            <div class="item" data-slide="6">
                <img src="./img/others/license/item-6.png" alt="6" >
            </div>
            <div class="item" data-slide="7">
                <img src="./img/others/license/item-7.png" alt="7" >
            </div>
        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>
