<% var data = {
title: "Волжский утес"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>


<div class="section s-block p-b-0 p-t-0 m-t-50 m-b-30">
    <div class="container">
        <h2 class="text-align-center m-t-15 m-b-0 h1">Радоновые ванны</h2>
    </div>
</div>

<div class="section sections-block p-b-30 p-t-0">
    <div class="container">
        <div class="text-content">
            <p class="m-b-20 ">
                В бальнеологической лечебнице санатория расположена современная радоновая лаборатория для искусственного приготовления радона, который используется для водных и суховоздушных ванн.
                Радоном лечат заболевания органов дыхания и репродуктивной системы, нервной и опорно-двигательной систем. Применение радона безопасно и комфортно..
            </p>
            <p class="m-b-20 "><strong class="black">Радонотерапия</strong> – это метод бальнеолечения, при котором лечебный эффект в основном достигается за счёт воздействия на организм излучений
                радона86 Rn
                222 и его дочерних продуктов. Ведущую роль в облучении организма больного при радонолечении играет альфа-излучение, поэтому радонотерапию принято относить к особому разделу лучевой
                терапии – альфа-терапии.
                входе на территорию санатория.</p>
            <p class="m-b-20 ">Радоновые ванны улучшают микроциркуляцию в коже, нормализуют работу сердца, улучшают сократительную функцию миокарда и нормализуют частоту сердечных сокращений;
                выравнивают артериальное давление; оказывают выраженное седативное действие на центральную систему и анальгезирующее на периферическую; повышают иммунитет, снижая специфическую и
                повышая неспецифическую реактивность организма; оказывают противовоспалительное действие; нормализуют морфологический состав и свёртываемость крови; стимулируют процессы регенерации
                тканей; оказывают нормализующее действие на основной обмен, на некоторые стороны углеводного, минерального, холестеринового и водного обменов.</p>
            <p class="m-b-20 "><strong class="black">Суховоздушные радоновые ванны</strong> отпускаются с использованием воздушно-радоновой ванны «РЕАБОКС» - автоматизированной установки для
                проведения
                воздушных лечебных процедур радонотерапии. Энергетическая активность воздушно-радоновых процедур в 4,5 раза выше водных. Поэтому лучевая нагрузка на пациента при таком же лечебном
                эффекте может быть в 4,5 раза ниже против водных ванн. Суховоздушные радоновые ванны обладают теми же свойствами, что и водные радоновые ванны, однако легче переносятся ввиду
                отсутствия нагрузочного действия воды на сердце и показаны для пациентов с более тяжелыми формами заболеваний (постинфарктный кардиосклероз и др.).</p>
            <p class="m-b-20 d-block">
                <strong class="black">Показания к применению:</strong>
            </p>
            <ul class="text-list">
                <li>Заболевания сердечно-сосудистой системы (ИБС, артериальная гипертензия, облитерирующий атеросклероз сосудов конечностей, тромбофлебиты и др.);
                </li>
                <li>
                    Заболевания нервной системы (неврит, радикулит, невралгия и др.);
                </li>
                <li>
                    Заболевания костнтно-мышечной системы (остеохондроз, ревматоидный артрит, артрозы, бурсит, переломы костей и др.);
                </li>
                <li>
                    Заболевания эндокринной системы и нарушения обмена веществ (сахарный диабет, ожирение, подагра и др.);
                </li>
                <li>
                    Гинекологические заболевания (фибромиомы, эндометриозы, бесплодие, климактерические синдромы и др.);
                </li>
                <li>
                    Заболевания кожи и подкожной клетчатки (хронические экземы, нейродермиты, псориаз, склеродермия и др.);
                </li>
                <li>
                    Заболевание почек и мочевыводящих путей, заболевания органов дыхания и органов желудочно-кишечного тракта.
                </li>
            </ul>

        </div>
    </div>
</div>

<div class="gallery__slider">
    <div class="gallery__slider-wrapper">
        <div class="gallery__slider-close"></div>
        <div class="gallery-prev">
            <span class="icon-up-arrow-3"></span>
        </div>
        <div class="gallery__slider-big"></div>
        <div class="gallery-next">
            <span class="icon-up-arrow-3"></span>
        </div>
        <div class="gallery__slider-small"></div>
    </div>
</div>
<div class="section sections-block p-b-30 p-t-0">
    <div class="container">
        <div class="gallery">
            <div class="row">
                <div class="col w-33 w-50-tablet w-50-mobile gallery__item" data-slide="1">
                    <div class="item">
                        <img alt="1" src="./img/others/baths/item-1.jpg">
                    </div>
                </div>
                <div class="col w-33 w-50-tablet w-50-mobile gallery__item" data-slide="2">
                    <div class="item">
                        <img alt="2" src="./img/others/baths/item-2.jpg">
                    </div>
                </div>
                <div class="clr hide-desktop"></div>
                <div class="col w-33 w-50-tablet w-50-mobile gallery__item" data-slide="3">
                    <div class="item">
                        <img alt="3" src="./img/others/baths/item-3.jpg">
                    </div>
                </div>
                <div class="clr hide-mobile hide-tablet"></div>
                <div class="col w-33 w-50-tablet w-50-mobile gallery__item" data-slide="4">
                    <div class="item">
                        <img alt="4" src="./img/others/baths/item-4.jpg">
                    </div>
                </div>
                <div class="clr hide-desktop"></div>

            </div>
        </div>
    </div>
</div>


<%= _.template(require('./../includes/footer.html').default)(data) %>
