<% var data = {
title: "Волжский утес"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>


<div class="breadcrumbs">
    <a href="/">Главная</a>
    <a href="/">Санаторий</a>
    <a href="/">Акции</a>
    <span>Народный санаторий</span>
</div>
<div class="section s-block p-b-25 p-t-0">
    <div class="container">
        <h2 class="text-align-center m-t-15 m-b-30 h1">Народный санаторий</h2>
    </div>
</div>

<div class="section sections-block p-b-30 p-t-0">
    <div class="container">
            <img class="discount-detail__img m-b-30" src="./img/others/stock/stock-3.jpg" alt="">
        <div class="text-content m-t-30">
            <p class="m-b-20 black">Все началось с поставленной в 1968 году задачи - создать здравницу в Жигулях. Эту задачу поставил Евгений Иванович Чазов, начальник «Четвертого главного Управления
                при Минздраве СССР». Поиск места для строительства вел сам Евгений Иванович вместе с партийным руководством города Сызрани и Шигонского района. Решено было выбрать необитаемую территорию у подошвы Жигулевского горного хребта.
            </p>
            <p class="m-b-20 black">Уникальные климатические особенности и соседство с самым большим в Европе искусственным озером оказывает благоприятное и оздоравливающее воздействие на организм.На
                400 гектарах расположись 3 корпуса Санатория, этнографический комплекс «Волжская Слобода», современная Бальнеологическая лечебница, Павильон Переговоров, горнолыжная трасса и множество других объектов. Но большую часть занимает хвойных лес, который будто обнимает Санаторий. Против красоты живописной природы этого района трудно устоять!
        </p>
            <p class="m-b-20 black">Очарованные красотой природы, члены комиссии решили: «Мы построим санаторий именно на этом месте!»
        </p>
        </div>
    </div>
</div>



<%= _.template(require('./../includes/footer.html').default)(data) %>
