<% var data = {
title: "Волжский утес"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>


<div class="breadcrumbs">
    <a href="/">Главная</a>
    <a href="/">Санаторий</a>
    <span>Врачебный состав</span>
</div>
<div class="section s-block p-b-0 p-t-0">
    <div class="container">
        <h2 class="text-align-center m-t-15 m-b-30 h1">Врачебный состав</h2>
        <div class="submenu m-b-30 p-b-25">
            <a href="/">О санатории</a>
            <a href="/" class="submenu__active">Врачебный состав</a>
            <a href="/">Отзывы</a>
            <a href="/">История</a>
            <a href="/">Карта санатория</a>
            <a href="/">Сертификаты</a>
            <a href="/">Акции</a>
            <a href="/">Конференции</a>
            <a href="/">Правила проживания</a>
        </div>
    </div>
</div>
<div class="section s-block p-b-0 p-t-0">
    <div class="container">
        <div class="doctors">
            <div class="row">
                <div class="col w-33 w-50-tablet m-b-20">
                    <div class="item section-grey-bg">
                        <a href="" class="img">
                            <img alt="1" src="./img/others/doctors/item-1.png">
                        </a>
                        <div class="desc">
                            <a href="" class="h3 name">Морозова Лариса Валериановна </a>
                            <div class="pos text16">Заместитель директора по мед части, врач-офтальмолог высшей категории</div>
                            <div class="unit m-t-50 m-b-20"></div>
                            <div class="experience subtitle22">Стаж работы - 27 лет</div>
                        </div>
                    </div>
                </div>
                <div class="col w-33 w-50-tablet m-b-20">
                    <div class="item section-grey-bg">
                        <a href=""  class="img">
                            <img alt="2" src="./img/others/doctors/item-2.png">
                        </a>
                        <div class="desc">
                            <a href="" class="h3 name">Трегубов Дмитрий Александрович</a>
                            <div class="pos text16">Врач-терапевт 1 категории</div>
                            <div class="unit m-t-50 m-b-20">Отделение «Терапия №1»</div>
                            <div class="experience subtitle22">Стаж работы - 25 лет</div>
                        </div>
                    </div>
                </div>
                <div class="clr hide-desktop"></div>
                <div class="col w-33 w-50-tablet m-b-20">
                    <div class="item section-grey-bg">
                        <a href=""  class="img">
                            <img alt="3" src="./img/others/doctors/item-3.png">
                        </a>
                        <div class="desc">
                            <a href="" class="h3 name">Алексашин Михаил Александрович</a>
                            <div class="pos text16">Врач-терапевт, врач-эндокринолог</div>
                            <div class="unit m-t-50 m-b-20">Отделение «Терапия №1»</div>
                            <div class="experience subtitle22">Стаж работы - 32 года</div>
                        </div>
                    </div>
                </div>
                <div class="clr hide-mobile hide-tablet"></div>
                <div class="col w-33 w-50-tablet m-b-20">
                    <div class="item section-grey-bg">
                        <a href=""  class="img">
                            <img alt="3" src="./img/others/doctors/item-3.png">
                        </a>
                        <div class="desc">
                            <a href="" class="h3 name">Алексашин Михаил Александрович</a>
                            <div class="pos text16">Врач-терапевт, врач-эндокринолог</div>
                            <div class="unit m-t-50 m-b-20">Отделение «Терапия №1»</div>
                            <div class="experience subtitle22">Стаж работы - 32 года</div>
                        </div>
                    </div>
                </div>
                <div class="clr hide-desktop"></div>
                <div class="col w-33 w-50-tablet m-b-20">
                    <div class="item section-grey-bg">
                        <a href=""  class="img img-default">
                             <span class="icon-user"></span>
                        </a>
                        <div class="desc">
                            <a href="" class="h3 name">Алексашин Михаил Александрович</a>
                            <div class="pos text16">Врач-терапевт, врач-эндокринолог</div>
                            <div class="unit m-t-50 m-b-20">Отделение «Терапия №1»</div>
                            <div class="experience subtitle22">Стаж работы - 32 года</div>
                        </div>
                    </div>
                </div>
                <div class="col w-33 w-50-tablet m-b-20">
                    <div class="item section-grey-bg">
                        <a href=""  class="img">
                            <img alt="3" src="./img/others/doctors/item-3.png">
                        </a>
                        <div class="desc">
                            <a href="" class="h3 name">Алексашин Михаил Александрович</a>
                            <div class="pos text16">Врач-терапевт, врач-эндокринолог</div>
                            <div class="unit m-t-50 m-b-20">Отделение «Терапия №1»</div>
                            <div class="experience subtitle22">Стаж работы - 32 года</div>
                        </div>
                    </div>
                </div>
                <div class="clr hide-desktop"></div>
                <div class="clr hide-mobile hide-tablet"></div>
                <div class="col w-33 w-50-tablet m-b-20">
                    <div class="item section-grey-bg">
                        <a href=""  class="img">
                            <img alt="3" src="./img/others/doctors/item-3.png">
                        </a>
                        <div class="desc">
                            <a href="" class="h3 name">Алексашин Михаил Александрович</a>
                            <div class="pos text16">Врач-терапевт, врач-эндокринолог</div>
                            <div class="unit m-t-50 m-b-20">Отделение «Терапия №1»</div>
                            <div class="experience subtitle22">Стаж работы - 32 года</div>
                        </div>
                    </div>
                </div>

                <div class="col w-33 w-50-tablet m-b-20">
                    <div class="item section-grey-bg">
                        <a href="" class="img">
                            <img alt="1" src="./img/others/doctors/item-1.png">
                        </a>
                        <div class="desc">
                            <a href="" class="h3 name">Морозова Лариса Валериановна </a>
                            <div class="pos text16">Заместитель директора по мед части, врач-офтальмолог высшей категории</div>
                            <div class="unit m-t-50 m-b-20"></div>
                            <div class="experience subtitle22">Стаж работы - 27 лет</div>
                        </div>
                    </div>
                </div>
                <div class="clr hide-desktop"></div>
                <div class="col w-33 w-50-tablet m-b-20">
                    <div class="item section-grey-bg">
                        <a href=""  class="img">
                            <img alt="2" src="./img/others/doctors/item-2.png">
                        </a>
                        <div class="desc">
                            <a href="" class="h3 name">Трегубов Дмитрий Александрович</a>
                            <div class="pos text16">Врач-терапевт 1 категории</div>
                            <div class="unit m-t-50 m-b-20">Отделение «Терапия №1»</div>
                            <div class="experience subtitle22">Стаж работы - 25 лет</div>
                        </div>
                    </div>
                </div>

                <div class="clr hide-mobile hide-tablet"></div>

            </div>
        </div>
    </div>
</div>


<%= _.template(require('./../includes/footer.html').default)(data) %>
