<% var data = {
title: "Волжский утес"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>


<div class="breadcrumbs">
    <a href="/">Главная</a>
    <a href="/">Санаторий</a>
    <span>История санатория</span>
</div>

<div class="section p-all-0 m-t-10">
    <div class="container">
        <h2 class="text-align-center m-t-15 m-b-30 h1">История санатория</h2>
        <div class="submenu m-b-20 p-b-25">
            <a href="/">О санатории</a>
            <a href="/">Врачебный состав</a>
            <a href="/">Отзывы</a>
            <a href="/" class="submenu__active">История</a>
            <a href="/">Карта санатория</a>
            <a href="/">Сертификаты</a>
            <a href="/">Акции</a>
            <a href="/">Конференции</a>
            <a href="/">Правила проживания</a>
        </div>
    </div>
</div>

<div class="section sections-block p-b-30 p-t-0">
    <div class="container">
        <div class="text-content">
            <p class="m-b-20 black">
                Все началось с поставленной в 1968 году задачи - создать здравницу в Жигулях. Эту задачу поставил Евгений Иванович Чазов, начальник «Четвертого главного Управления при Минздраве СССР». Поиск места для строительства вел сам Евгений Иванович вместе с партийным руководством города Сызрани и Шигонского района. Решено было выбрать необитаемую территорию у подошвы Жигулевского горного хребта.
            </p>
            <p class="m-b-20 black">
                Уникальные климатические особенности и соседство с самым большим в Европе искусственным озером оказывает благоприятное и оздоравливающее воздействие на организм.На 400 гектарах расположись 3 корпуса Санатория, этнографический комплекс «Волжская Слобода», современная Бальнеологическая лечебница, Павильон Переговоров, горнолыжная трасса и множество других объектов. Но большую часть занимает хвойных лес, который будто обнимает Санаторий. Против красоты живописной природы этого района трудно устоять!
            </p>
            <p class="m-b-20 black">
                Очарованные красотой природы, члены комиссии решили: «Мы построим санаторий именно на этом месте!»
            </p>
            <p class="m-b-20 black">
                В 1968 году постановлением совета Министров СССР у колхоза Россия (Усолье) в пользу Федерального центра было отчуждено более 800 гектаров земли на правом, пустынном берегу Усольского залива. Начались геодезические работы по обеспечению строительства крупного санаторно-курортного комплекса и рабочего поселка для сотрудников.
            </p>
            <p class="m-b-20 black">
                «Усольский санаторный комплекс», а именно таковым было первоначальное название Санатория, был авторским проектом Эренбург Ларисы Анисимовны. Строительство велось 4-ым Стройтрестом города Сызрань под наблюдением Чазова Е. И. и Эренбург Л.А.
            </p>
            <p class="m-b-20 black">
                Следующим важным этапом в истории Санатория было утверждение дирекции. Произошло это летом 1974 года. Первым директором Санатория был назначен Сухоруков Леонид Владимирович, талантливый врач и грамотный руководитель. До назначения на этот пост он был главным врачом сельской больницы. Успешная деятельность по контролю строительства и подбору сотрудников заложила крепкий фундамент процветания Санатория в будущем.
            </p>
            <p class="m-b-20 black">
                Строительство велось ударными темпами, и уже через 8 лет после постановки задачи, к лету 1976 года, корпуса Санатория были отстроены.
            </p>
            <p class="m-b-20 black">
                Санаторный комплекс, задуманный как кардиологический быстро стал расширять свои лечебные программы. В 1982 году, была пущена в работу Водогрязелечебница, превратив Санаторий в бальнеологический курорт. Новый санаторно-курортный комплекс нуждался в звучном имени и с 1 июля 1974 года деятельность по оздоровлению населения продолжал уже «Санаторий «Волжский утес»®.
            </p>
            <p class="m-b-20 black">
                С момента основания Санатория произошло множество перемен, но неизменным всегда будут оставаться высокое качество услуг и профессионализм всех сотрудников.
            </p>
            <p class="m-b-20 black">
                Санаторий «Волжский утес»®, один из самых крупных санаторно-курортных комплексов в России, для многих стал любимым местом отдыха и работы, вторым домом, в котором за полувековую историю сформировались свои уникальные черты и традиции.
            </p>
            <p class="m-b-20 black">
                Может быть в этом и заключается секрет притягательности Санатория «Волжский утес»®, который возвращает гостей сюда снова и снова.
            </p>
        </div>
    </div>
</div>

<div class="gallery__slider">
    <div class="gallery__slider-wrapper">
        <div class="gallery__slider-close"></div>
        <div class="gallery-prev">
            <span class="icon-up-arrow-3"></span>
        </div>
        <div class="gallery__slider-big"></div>
        <div class="gallery-next">
            <span class="icon-up-arrow-3"></span>
        </div>
        <div class="gallery__slider-small"></div>

    </div>
</div>
<div class="section sections-block p-b-50">
    <div class="container">
        <div class="gallery">
            <div class="row">
                <div class="col w-33 w-50-tablet w-50-mobile gallery__item" data-slide="1">
                    <div class="item">
                        <img alt="1" src="./img/others/history/item-1.png">
                    </div>
                </div>
                <div class="col w-33 w-50-tablet w-50-mobile gallery__item" data-slide="2">
                    <div class="item">
                        <img alt="2" src="./img/others/history/item-2.png">
                    </div>
                </div>
                <div class="clr hide-desktop"></div>
                <div class="col w-33 w-50-tablet w-50-mobile gallery__item" data-slide="3">
                    <div class="item">
                        <img alt="3" src="./img/others/history/item-3.png">
                    </div>
                </div>
                <div class="clr hide-mobile hide-tablet"></div>
                <div class="col w-33 w-50-tablet w-50-mobile gallery__item" data-slide="4">
                    <div class="item">
                        <img alt="4" src="./img/others/history/item-4.png">
                    </div>
                </div>
                <div class="clr hide-desktop"></div>
                <div class="col w-33 w-50-tablet w-50-mobile gallery__item" data-slide="5">
                    <div class="item">
                        <img alt="5" src="./img/others/history/item-5.png">
                    </div>
                </div>
                <!-- После data-slide="5" - этот 6 блок общий-->
                <div class="col w-33 w-50-tablet w-50-mobile gallery__item" data-slide="1">
                    <div class="item more-item">
                        <img alt="5" src="./img/others/history/item-5.png">
                        <span>Еще <span>3</span> фото</span>
                        <div class="yellow-bg"></div>
                    </div>

                </div>
                <div class="clr hide-mobile hide-tablet"></div>
                <!-- После data-slide="5" следующие блоки скрыты-->
                <div class="col w-33 w-50-tablet w-50-mobile gallery__item hidden" data-slide="6">
                    <div class="item">
                        <img alt="1" src="./img/others/history/item-1.png">
                    </div>
                </div>
                <div class="col w-33 w-50-tablet w-50-mobile gallery__item hidden" data-slide="7">
                    <div class="item">
                        <img alt="2" src="./img/others/history/item-2.png">
                    </div>
                </div>
                <div class="col w-33 w-50-tablet w-50-mobile gallery__item hidden" data-slide="8">
                    <div class="item">
                        <img alt="3" src="./img/others/history/item-3.png">
                    </div>
                </div>
                <div class="col w-33 w-50-tablet w-50-mobile gallery__item hidden" data-slide="9">
                    <div class="item">
                        <img alt="4" src="./img/others/history/item-4.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%= _.template(require('./../includes/footer.html').default)(data) %>
