<% var data = {
title: "Волжский утес"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>


<div class="breadcrumbs">
    <a href="/">Главная</a>
    <span>Лечебные программы</span>
</div>
<div class="section s-block p-b-0 p-t-0">
    <div class="container">
        <h2 class="text-align-center m-t-25 m-b-25">Лечебные программы</h2>
        <p class="text-align-center m-b-30 m-b-20">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Curabitur porttitor quis metus nec tincidunt.
        </p>
    </div>
</div>
<div class="section s-block p-b-0 p-t-0">
    <div class="container">
        <div class="points-blocks">
            <div class="row">
                <div class="col w-33 w-50-tablet w-50-mobile">
                    <a href="/" class="choice-points-block b1i1">
                        <img alt="1" src="./img/others/services/services1.jpeg">
                        <div class="info">
                            <div class="main">
                                <div class="main-content">
                                    <h4 class="subtitle22">Оздоровление</h4>
                                    <span class="price">от 32 000 ₽</span>
                                </div>
                            </div>
                            <div class="desc">
                                <p>
                                    Заболевания органов кровообращения, заболевания опорно-двигательного аппарата, заболевания нервной системы, заболевания органов желудочно-кишечного тракта.
                                </p>
                            </div>
                        </div>
                        <div class="hover-bg"></div>
                    </a>
                </div>
                <div class="col w-33 w-50-tablet w-50-mobile">
                    <a href="/" class="choice-points-block b1i1">
                        <img alt="2" src="./img/others/services/services2.jpeg">
                        <div class="info">
                            <div class="main">
                                <div class="main-content">
                                    <h4 class="subtitle22">Базовая</h4>
                                    <span class="price">от 32 000 ₽</span>
                                </div>
                            </div>
                            <div class="desc">
                                <p>
                                    Заболевания органов кровообращения, заболевания опорно-двигательного аппарата, заболевания нервной системы, заболевания органов желудочно-кишечного тракта.
                                </p>
                            </div>
                        </div>
                        <div class="hover-bg"></div>
                    </a>
                </div>
                <div class="clr hide-desktop"></div>
                <div class="col w-33 w-50-tablet w-50-mobile">
                    <a href="/" class="choice-points-block b1i1">
                        <img alt="3" src="./img/others/services/item-9.png">
                        <div class="info">
                            <div class="main">
                                <div class="main-content">
                                    <h4 class="subtitle22">Базовая Лайт</h4>
                                    <span class="price">от 32 000 ₽</span>
                                </div>
                            </div>
                            <div class="desc">
                                <p>
                                    Заболевания органов кровообращения, заболевания опорно-двигательного аппарата, заболевания нервной системы, заболевания органов желудочно-кишечного тракта.
                                </p>
                            </div>
                        </div>
                        <div class="hover-bg"></div>
                    </a>
                </div>
                <div class="clr hide-mobile hide-tablet"></div>
                <div class="col w-33 w-50-tablet w-50-mobile">
                    <a href="/" class="choice-points-block b1i1">
                        <img alt="4" src="./img/others/services/services3.jpeg">
                        <div class="info">
                            <div class="main">
                                <div class="main-content">
                                    <h4 class="subtitle22">Стандарт</h4>
                                    <span class="price">от 32 000 ₽</span>
                                </div>
                            </div>
                            <div class="desc">
                                <p>
                                    Заболевания органов кровообращения, заболевания опорно-двигательного аппарата, заболевания нервной системы, заболевания органов желудочно-кишечного тракта.
                                </p>
                            </div>
                        </div>
                        <div class="hover-bg"></div>
                    </a>
                </div>
                <div class="clr hide-desktop"></div>
                <div class="col w-33 w-50-tablet w-50-mobile">
                    <a href="/" class="choice-points-block b1i1">
                        <img alt="5" src="./img/others/services/item-5.png">
                        <div class="info">
                            <div class="main">
                                <div class="main-content">
                                    <h4 class="subtitle22">Санаторная</h4>
                                    <span class="price">от 32 000 ₽</span>
                                </div>
                            </div>
                            <div class="desc">
                                <p>
                                    Заболевания органов кровообращения, заболевания опорно-двигательного аппарата, заболевания нервной системы, заболевания органов желудочно-кишечного тракта.
                                </p>
                            </div>
                        </div>
                        <div class="hover-bg"></div>
                    </a>
                </div>
                <div class="col w-33 w-50-tablet w-50-mobile">
                    <a href="/" class="choice-points-block b1i1">
                        <img alt="6" src="./img/others/services/item-6.png">
                        <div class="info">
                            <div class="main">
                                <div class="main-content">
                                    <h4 class="subtitle22">Детокс – стройная фигура</h4>
                                    <span class="price">от 32 000 ₽</span>
                                </div>
                            </div>
                            <div class="desc">
                                <p>
                                    Заболевания органов кровообращения, заболевания опорно-двигательного аппарата, заболевания нервной системы, заболевания органов желудочно-кишечного тракта.
                                </p>
                            </div>
                        </div>
                        <div class="hover-bg"></div>
                    </a>
                </div>
                <div class="clr hide-desktop"></div>
                <div class="clr hide-mobile hide-tablet"></div>
                <div class="col w-33 w-50-tablet w-50-mobile">
                    <a href="/" class="choice-points-block b1i1">
                        <img alt="7" src="./img/others/services/item-7.png">
                        <div class="info">
                            <div class="main">
                                <div class="main-content">
                                    <h4 class="subtitle22">Здоровый позвоночник</h4>
                                    <span class="price">от 32 000 ₽</span>
                                </div>
                            </div>
                            <div class="desc">
                                <p>
                                    Заболевания органов кровообращения, заболевания опорно-двигательного аппарата, заболевания нервной системы, заболевания органов желудочно-кишечного тракта.
                                </p>
                            </div>
                        </div>
                        <div class="hover-bg"></div>
                    </a>
                </div>
                <div class="col w-33 w-50-tablet w-50-mobile">
                    <a href="/" class="choice-points-block b1i1">
                        <img alt="8" src="./img/others/services/item-8.png">
                        <div class="info">
                            <div class="main">
                                <div class="main-content">
                                    <h4 class="subtitle22">Активное долголетие</h4>
                                    <span class="price">от 32 000 ₽</span>
                                </div>
                            </div>
                            <div class="desc">
                                <p>
                                    Заболевания органов кровообращения, заболевания опорно-двигательного аппарата, заболевания нервной системы, заболевания органов желудочно-кишечного тракта.
                                </p>
                            </div>
                        </div>
                        <div class="hover-bg"></div>
                    </a>
                </div>
                <div class="clr hide-desktop"></div>
                <div class="col w-33 w-50-tablet w-50-mobile">
                    <a href="/" class="choice-points-block b1i1">
                        <img alt="9" src="./img/others/services/item-11.png">
                        <div class="info">
                            <div class="main">
                                <div class="main-content">
                                    <h4 class="subtitle22">Гибкие суставы, крепкий
                                        позвоночник</h4>
                                    <span class="price">от 32 000 ₽</span>
                                </div>
                            </div>
                            <div class="desc">
                                <p>
                                    Заболевания органов кровообращения, заболевания опорно-двигательного аппарата, заболевания нервной системы, заболевания органов желудочно-кишечного тракта.
                                </p>
                            </div>
                        </div>
                        <div class="hover-bg"></div>
                    </a>
                </div>
                <div class="clr hide-mobile hide-tablet"></div>
                <div class="col w-33 w-50-tablet w-50-mobile">
                    <a href="/" class="choice-points-block b1i1">
                        <img alt="10" src="./img/others/services/item-13.png">
                        <div class="info">
                            <div class="main">
                                <div class="main-content">
                                    <h4 class="subtitle22">Релакс</h4>
                                    <span class="price">от 32 000 ₽</span>
                                </div>
                            </div>
                            <div class="desc">
                                <p>
                                    Заболевания органов кровообращения, заболевания опорно-двигательного аппарата, заболевания нервной системы, заболевания органов желудочно-кишечного тракта.
                                </p>
                            </div>
                        </div>
                        <div class="hover-bg"></div>
                    </a>
                </div>
                <div class="clr hide-desktop"></div>
                <div class="col w-33 w-50-tablet w-50-mobile">
                    <a href="/" class="choice-points-block b1i1">
                        <img alt="10" src="./img/others/services/item-12.png">
                        <div class="info">
                            <div class="main">
                                <div class="main-content">
                                    <h4 class="subtitle22">Оздоровление детей</h4>
                                    <span class="price">от 32 000 ₽</span>
                                </div>
                            </div>
                            <div class="desc">
                                <p>
                                    Заболевания органов кровообращения, заболевания опорно-двигательного аппарата, заболевания нервной системы, заболевания органов желудочно-кишечного тракта.
                                </p>
                            </div>
                        </div>
                        <div class="hover-bg"></div>
                    </a>
                </div>
                <div class="clr hide-mobile hide-tablet"></div>
            </div>
        </div>
    </div>
</div>

<div class="section sections-block p-b-30">
    <div class="container">
        <h3 class="m-t-0 m-b-10">SEO text</h3>
        <div class="text-content">
            <p class="m-b-30">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris in lacinia eros. Morbi elementum magna mi. Donec ultrices, libero a aliquam luctus, leo ex interdum urna, quis interdum
                lectus orci eget neque. Cras porta lacinia arcu eu porttitor. Donec magna dui, pharetra euismod faucibus eleifend, fermentum eu sem. Maecenas ac tellus nulla. Donec blandit mauris sit
                amet sem feugiat, imperdiet malesuada nibh facilisis. Aliquam tincidunt pretium quam, vel tempor velit placerat sed. Vivamus rutrum metus vitae urna fermentum commodo eget in lacus.
                Aliquam in nulla a nulla viverra rutrum at id augue. Aenean ultrices lectus metus, et posuere neque tincidunt at. Morbi laoreet non justo semper dignissim. Ut eleifend elit sed ex
                blandit, et varius elit efficitur. Nulla maximus imperdiet imperdiet.
            </p>
            <p class="m-b-30">
                Nulla sem lectus, dignissim eget tortor ut, ultrices lacinia arcu. Donec id lectus quis lectus pulvinar fermentum. Nulla sed nunc sem. Ut dignissim lacinia turpis cursus rutrum. Aenean
                faucibus mollis elit ac eleifend. Sed mauris neque, aliquet non commodo quis, fermentum ut massa. Phasellus suscipit nibh ligula, eu sagittis enim egestas quis. Quisque arcu dolor,
                egestas a ex a, convallis scelerisque massa. Aenean elementum luctus risus id vehicula. Nam tincidunt laoreet ipsum, vel convallis dui placerat consequat. Donec tincidunt, mi quis
                rutrum aliquam, sem orci vestibulum elit, vitae sodales quam est vitae augue. Ut porttitor et quam quis fringilla. Vestibulum ullamcorper quis libero non eleifend.
            </p>
            <p class="m-b-30">
                In dui arcu, egestas et dolor nec, tempus sodales urna. Aliquam hendrerit, dui in suscipit bibendum, neque sapien gravida lacus, id vehicula lacus nulla sed erat. Vestibulum nunc nibh,
                maximus ac interdum tristique, sollicitudin id eros. Quisque in elit a magna imperdiet venenatis vehicula et justo. Sed vitae ultrices felis, vitae eleifend risus. Donec iaculis est
                vel libero luctus, a fringilla orci sagittis. Etiam sollicitudin rhoncus viverra. In quis pellentesque odio, hendrerit bibendum libero. Aliquam varius bibendum felis, ac dapibus
                tortor. Cras tempus augue aliquet augue pulvinar semper. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In a eleifend sem, sit amet pharetra
                dolor. Integer quis felis massa. Curabitur lacus orci, facilisis sit amet ornare viverra, facilisis non justo.
            </p>
        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>
