<% var data = {
title: "Волжский утес"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>


<div class="breadcrumbs">
    <a href="/">Главная</a>
    <a href="/">Санаторий</a>
    <span>Отзывы</span>
</div>
<div class="section p-all-0 m-t-0">
    <div class="container">
        <h2 class="text-align-center m-t-15 m-b-30 h1">Отзывы</h2>
        <div class="submenu m-b-30 p-b-25">
            <a href="/">О санатории</a>
            <a href="/">Врачебный состав</a>
            <a href="/" class="submenu__active">Отзывы</a>
            <a href="/">История</a>
            <a href="/">Карта санатория</a>
            <a href="/">Сертификаты</a>
            <a href="/">Акции</a>
            <a href="/">Конференции</a>
            <a href="/">Правила проживания</a>
        </div>
    </div>
</div>

<div class="section sections-block p-b-0 p-t-0">
    <div class="reviews">
        <div class="container">
            <div class="row">
                <div class="col w-50">
                    <div class="item m-b-50 m-t-50">
                        <div class="item-image">
                            <img alt="" src="./img/others/reviews/item-2.png">
                        </div>
                        <div class="stars">
                            <span class="icon icon-star active"></span>
                            <span class="icon icon-star active"></span>
                            <span class="icon icon-star active"></span>
                            <span class="icon icon-star active"></span>
                            <span class="icon icon-star active"></span>
                        </div>
                        <p class="big-weight">Дингуатова Г.У., Потатуева Н.П., Евдокимова З.Л.</p>
                        <p class="medium-text">
                            В санатории "Волжский Утёс" отдыхаем с 2012 г. Очень благодарны за качество обслуживания и комфорт. За столько лет прибывания у нас сложилось определенное мнение о
                            санатории. Мы считаем его самым лучшим санаторием в России. Он соответствует всем требованиям санаторно-курортного отдыха. В санатории квалифицированный, грамотный и
                            участливый состав мед. персонала. Особая благодарность нашим лечащим врачам Мельнику Василию Григорьевичу, Сорокину Дмитрию Павловичу.
                        </p>
                        <p class="medium-text">
                            Очень-очень благодарны травматологу Левашину Владиславу Константиновичу за его чуткость и профессионализм. В сфере дополнительных услуг хочется поблагодарить мастера
                            ногтевого сервиса Трифонову Наталью и мастера парикмахера Владимирову Нину Ивановну за их мастерство и за отличное настроение которое дарит их работа. Очень надеемся, что и
                            в дальнейшем санаторий сохранит сферу дополнительных услуг.
                        </p>
                        <p class="medium-text">
                            С пожеланиями группа отдыхающих в лице:
                            Дингуатовой Г.У.(ООО "К.Х. Волгарь),
                            Потатуевой Н.П. (ПСК имени Крупской),
                            Евдокимова Зоя Леонидовна (ООО "Большечерниговский комбикормовый завод").
                        </p>
                        <p class="medium-text">
                            12.12.2019 г.
                        </p>
                    </div>
                    <div class="item m-b-50 m-t-50">
                        <div class="item-image">
                            <img alt="" src="./img/others/reviews/item-3.png">
                        </div>
                        <div class="stars">
                            <span class="icon icon-star active"></span>
                            <span class="icon icon-star active"></span>
                            <span class="icon icon-star active"></span>
                            <span class="icon icon-star active"></span>
                            <span class="icon icon-star active"></span>
                        </div>
                        <p class="big-weight">Семья Можановых</p>
                        <p class="medium-text">
                            Хотим выразить благодарность коллективу санатория за профессионализм, добросовестность и внимание к отдыхающим. Отдельно хотим отметить "Ужин от шефа" 23.08.2019 г. за вкусные блюда, оригинальный вечер и хорошее настроение.
                            Спасибо!
                        </p>
                        <p class="medium-text">
                            23.08.2019 г. <br>
                           Семья Можановых, г. Тольятти
                        </p>
                    </div>
                    <div class="item m-b-50 m-t-50">
                        <div class="item-image">
                            <img alt="" src="./img/others/reviews/item-6.png">
                        </div>
                        <div class="stars">
                            <span class="icon icon-star active"></span>
                            <span class="icon icon-star active"></span>
                            <span class="icon icon-star active"></span>
                            <span class="icon icon-star active"></span>
                            <span class="icon icon-star active"></span>
                        </div>
                        <p class="big-weight">Тащилкин В.А., Тащилкина М.Э.</p>
                        <p class="medium-text">
                            Хотим выразить благодарность всему персоналу санатория. Особо хочется поблагодарить Момсину Елену Петровну, Лаврентьеву, Глистенкову Наталью Викторовну за высокий профессионализм, за чуткость и очень доброе отношение к людям.
                        </p>
                    </div>
                </div>
                <div class="col w-50">
                    <div class="item m-b-50 m-t-50">
                        <div class="item-image">
                            <img alt="" src="./img/others/reviews/item-1.png">
                        </div>
                        <div class="stars">
                            <span class="icon icon-star active"></span>
                            <span class="icon icon-star active"></span>
                            <span class="icon icon-star active"></span>
                            <span class="icon icon-star active"></span>
                            <span class="icon icon-star active"></span>
                        </div>
                        <p class="big-weight">Семья Шмуратко</p>
                        <p class="medium-text">
                            Хотим выразить благодарность руководству санатория за качественное обслуживание. Хорошее впечатление складывается с приема отдыхающих. Работники ресепшена доброжелательно и быстро оформляют прибывших на отдых. В номере чисто, уборка производится ежедневно. Медицинское обслуживание, по нашему мнению, на отличном уровне. Медицинский коллектив доброжелателен и квалифицирован. Особенно хочется выразить благодарность за отличное обслуживание врачу-неврологу Мельнику Василию Григорьевичу, медсестрам Галине Викторовне, Рыбасовой Наталье Анатольевна, Орловой Наталье Геннадьевне, Момсиной Елене Петровне, Трушиной Марине Николаевна, Быстровой Ирине Владимировне, процедуры у которых мы проходили. Питание в ресторане разнообразное и вкусное, коллектив доброжелателен. Хочется снова и снова приезжать в такой санаторий.
                        </p>
                        <p class="medium-text">
                            31.08.2019 г. <br>
                            Шмуратко Л.Г., Шмуратко Н.А., г. Владимир
                        </p>
                    </div>
                    <div class="item m-b-50 m-t-50">
                        <div class="item-image">
                            <img alt="" src="./img/others/reviews/item-4.png">
                        </div>
                        <div class="stars">
                            <span class="icon icon-star active"></span>
                            <span class="icon icon-star active"></span>
                            <span class="icon icon-star active"></span>
                            <span class="icon icon-star active"></span>
                            <span class="icon icon-star active"></span>
                        </div>
                        <p class="big-weight">Чугункина Н.С.</p>
                        <p class="medium-text">
                            Уважаемый лучший коллектив самого лучшего санатория "Волжский утёс"!
                            Моя сердечная благодарность. На ресепшен встречают так, что кажется, что только тебя ждали и ждут всегда.
                            В ресторане вкусно готовят, обслуживание замечательное. Низкий поклон чуткости, профессионализму всему медицинскому персоналу. Спасибо врачам от Бога: Стражниковым Виктору Анатольевичу и Эльвире Николаевне, Кононовой Эльвире Владимировне, массажистке с золотыми руками Артамоновой Нине Ивановне.
                            Успехов, здоровья, процветания. Спасибо всему коллективу!
                        </p>
                    </div>
                    <div class="item m-b-50 m-t-50">
                        <div class="item-image">
                            <img alt="" src="./img/others/reviews/item-5.png">
                        </div>
                        <div class="stars">
                            <span class="icon icon-star active"></span>
                            <span class="icon icon-star active"></span>
                            <span class="icon icon-star active"></span>
                            <span class="icon icon-star active"></span>
                            <span class="icon icon-star active"></span>
                        </div>
                        <p class="big-weight">Маргарита, компания PRT</p>
                        <p class="medium-text">
                            Выражаем огромную благодарность коллективу Санатория "Волжский утёс" за качественный сервис и организацию мероприятия для наших клиентов. Хотелось бы отметить, что сотрудники оперативно реагируют на возникающие трудности и решают все мгновенно.

                        </p>
                        <p class="medium-text">
                            Еще раз большое спасибо и удачи.
                        </p>
                    </div>
                </div>
                <div class="clr"></div>
            </div>
        </div>
    </div>

</div>


<%= _.template(require('./../includes/footer.html').default)(data) %>
