<% var data = {
title: "Волжский утес"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>


<div class="section s-block p-b-0 p-t-0 m-t-50 m-b-30">
    <div class="container">
        <h2 class="text-align-center m-t-15 m-b-0 h1">Правила проживания</h2>
    </div>
</div>

<div class="section sections-block p-b-30 p-t-0">
    <div class="container">
        <div class="text-content">
            <p class="text-align-center"><strong class="black">Правила проживания и внутреннего распорядка
                В ФГБУ «Санаторий «Волжский утес».</strong></p>
            <p class="text-align-center m-b-30"><strong class="black">
                Разработаны в соответствии с Типовыми правилами проживания и внутреннего распорядка, утверждены Приказом Управления делами Президента РФ от
                11.09.2001 г.№ 156.
            </strong></p>
            <p class="m-b-20 ">
                <strong class="black">1. Порядок и правила проживания гостя в санатории устанавливаются санаторием. Гость должен ознакомиться с порядком проживания и соблюдать его.</strong>
            </p>
            <p class="m-b-20 "><strong class="black">2. При размещении в санатории</strong> гость получает санаторно-курортную книжку вместе с ключом от номера. Санаторно-курортную книжку необходимо предъявлять
                при
                входе на территорию санатория.</p>
            <p class="m-b-20 "><strong class="black">3. Договор на предоставление услуг</strong> заключается при предъявлении гостем паспорта.</p>
            <p class="m-b-20 "><strong class="black">4. При размещении</strong>  в санаторий по санаторно-курортным путевкам гости, помимо паспорта, должны иметь на руках: санаторно-курортную карту, обменную
                путевку или ваучер, доверенность от организации (при оформлении путевки через посредника), копии платежных поручений с отметкой банка (при безналичном расчете); для детей до 14 лет – свидетельство о рождении, санаторно-курортную карту, справку об эпидокружении. В случае отсутствия санаторно-курортной карты она оформляется за дополнительную плату согласно прейскуранту на базе санатория.</p>
            <p class="m-b-20 "><strong class="black">5. При регистрации гостя в санатории</strong> последний оформляет и выдает на руки гостю договор на оказание услуг.</p>
            <p class="m-b-20 "><strong class="black">6. В случае позднего прибытия в санаторий по заказной брони</strong> зачет опозданий и возврат денежных средств за часы опозданий не производятся,
                пропущенные дни
                восстанавливаются только при наличии свободных мест.</p>
            <p class="m-b-20 "><strong class="black">7. При нарушении сроков заезда по заказной брони</strong> санаторий не гарантирует размещение гостя в указанной категории номера, а размещает на свободные
                места при
                наличии последних.</p>
            <p class="m-b-20 "><strong class="black">8. Гости отдыхающих</strong>, не проживающие в санатории, могут остаться в номере до 22 часов, после 22 часов необходимо произвести их оформление в
                Reception.</p>
            <p class="m-b-20 "><strong class="black">9. При выезде из санатория</strong>: за 2-3 дня до отъезда гость должен получить у администратора корешок путевки, а также уведомить службу номерного фонда не
                позднее, чем за 30 минут до отъезда, сдать номер, произвести окончательный расчет за предоставленные услуги в службе приема и размещения, вернуть ключ.</p>
            <p class="m-b-20 "><strong class="black">10. В случае досрочного отъезда отдыхающего, не обоснованного уважительными причинами</strong>, подтвержденными документально (тяжелая болезнь, смерть близких
                родственников, стихийные бедствия и катастрофы) удерживается стоимость суток пребывания.</p>
            <p class="m-b-20 ">
                <strong class="black">11. В случае необходимости</strong> время проживания гостя в санатории может быть продлено (при наличии свободных номеров). Для получения подробной информации обращайтесь,
                пожалуйста, к
                дежурному администратору.
            </p>
            <p class="m-b-20 ">
                <strong class="black">12. В санатории «Волжский утес» возможен отдых с детьми</strong> старше 5 лет. Для детей в возрасте от 5-12 лет при размещении на дополнительное место без лечения
                предоставляется
                скидка. По всем вопросам, связанным с пребыванием ребенка в санатории, обращайтесь к дежурному администратору.
            </p>
            <p class="m-b-20 ">
                <strong class="black">13. Санаторий бесплатно</strong> предоставляет гостю следующие виды услуг: неотложная медицинская помощь; доставка в номер корреспонденции для гостя при ее получении;
                побудка к
                определенному времени; предоставление кипятка, иголок, ниток, комплектов посуды и столовых приборов.
            </p>
            <p class="m-b-20 ">
                <strong class="black">14. Будьте корректны!</strong> Уважаемые гости, чтобы не создавать неудобства для других отдыхающих, просим Вас соблюдать тишину после 23 часов, приглушать громкость
                телевизоров,
                магнитофонов и радиоприемников в период до 7 часов утра, не использовать в местах для отдыха и проживания шумовые и осветительные эффекты, пиротехнические средства.
            </p>
            <p class="m-b-20 ">
                <strong class="black">15. Для хранения денег и ценных вещей</strong> пользуйтесь мини-сейфами, установленными в вашем номере. Инструкция по использованию номерного сейфа расположена в
                информационной папке.
            </p>
            <p class="m-b-20 ">
                <strong class="black">16. В целях личной безопасности</strong>, пожалуйста, регистрируйте Ваших посетителей на Reception. Если посетитель остается на ночь, необходимо произвести соответствующее
                оформление на
                Reception.
            </p>
            <p class="m-b-20 ">
                <strong class="black">17. Отдыхающим санатория не рекомендуется:</strong>
                - передавать ключи от номера другому лицу;
                - оставлять посторонних в номере в свое отсутствие.
            </p>
            <p class="m-b-20 ">
                <strong class="black">18. Отдыхающим запрещено:</strong>
                - хранить в номере легковоспламеняющиеся материалы, наркотики, оружие;
                - курить в номере;
                - содержать в номере животных;
                - изменять интерьер номера без разрешения администрации санатория;
                - оставлять без присмотра включенные в сеть электронагревательные приборы, пользоваться электронагревательными приборами без подставок из негорючих материалов;
                - разводить костры, устраивать зоны для пикников и увеселительных мероприятий вне территорий и помещений, определенных администрацией.
            </p>
            <p class="m-b-20 ">
                <strong class="black">19. Напоминаем Вам</strong>, что в случае утраты или повреждения имущества санатория ущерб возмещается в соответствии с законодательством Российской Федерации.
            </p>
            <p class="m-b-20 ">
                <strong class="black">20. Вход на территорию и въезд на автомашине</strong> разрешается по именному пропуску и пропуску на транспортное средство. Передвижение отдыхающих по территории санатория
                на личном
                автотранспорте <strong class="black">запрещено</strong>, при движении к месту стоянки скорость движения не должна превышать 20 км/час.
            </p>
            <p class="m-b-20 ">
                <strong class="black">21. Санаторий предоставляет услуги доврачебной</strong> (диетология, лабораторная диагностика, лечебное дело, лечебная физкультура, медицинский массаж, рентгенология,
                ультразвуковая
                диагностика, лабораторное дело) <strong class="black">и санаторно-курортной помощи</strong> ( акушерство и гинекология, гериатрия, диетология, кардиология, клиническая лабораторная диагностика,
                лечебная
                физкультура и спортивная медицина, мануальная терапия, неврология, отоларингология, офтальмология, рентгенология, ультразвуковая диагностика, физиотерапия, гастроэнтерология, педиатрия, травматология и ортопедия, функциональная диагностика, эндоскопия, гипербарическая осигенация).
            </p>
            <p class="m-b-20 ">
                <strong class="black">22. В санатории возможно</strong> проведение конференций, семинаров, банкетов и свадеб. За более подробной информацией обращайтесь в отдел сервиса и продаж.
            </p>
        </div>
    </div>
</div>



<%= _.template(require('./../includes/footer.html').default)(data) %>
