<% var data = {
title: "Волжский утес"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>


<div class="breadcrumbs">
    <a href="/">Главная</a>
    <a href="/">Санаторий</a>
    <span>Сертификаты</span>
</div>
<div class="section p-all-0 m-t-0">
    <div class="container">
        <h2 class="text-align-center m-t-15 m-b-30 h1">Сертификаты</h2>
        <div class="submenu m-b-30 p-b-25">
            <a href="/">О санатории</a>
            <a href="/">Врачебный состав</a>
            <a href="/">История</a>
            <a href="/">Отзывы</a>
            <a href="/">Карта санатория</a>
            <a href="/" class="submenu__active">Сертификаты</a>
            <a href="/">Акции</a>
            <a href="/">Конференции</a>
            <a href="/">Правила проживания</a>
        </div>
    </div>
</div>

<div class="section sections-block p-b-0 p-t-0">
    <div class="container">
        <div class="text-content">
            <p class="m-b-30 black">
                За многолетнюю практику мы завоевали немало наград в самых передовых областях медицины и гостиничного бизнеса.
            </p>
            <p class="m-b-30 black">
                Мы постоянно повышаем уровень качества санаторно-курортной услуги, чтобы гости Санатория «Волжский утес»® получали только лучшее обслуживание!
            </p>
        </div>
    </div>
</div>


<div class="gallery__slider">
    <div class="gallery__slider-wrapper">
        <div class="gallery__slider-close"></div>
        <div class="gallery-prev">
            <span class="icon-up-arrow-3"></span>
        </div>
        <div class="gallery__slider-big"></div>
        <div class="gallery-next">
            <span class="icon-up-arrow-3"></span>
        </div>
        <div class="gallery__slider-small"></div>
        <div class="license-slider"></div>
    </div>
</div>

<div class="section sections-block p-b-30 p-t-0">
    <div class="container">
        <div class="docs">
            <div class="item" data-slide="1">
                <img src="./img/others/license/item-8.png" alt="1" >
            </div>
            <div class="item" data-slide="2">
                <img src="./img/others/license/item-9.png" alt="2" >
            </div>
            <div class="item" data-slide="3">
                <img src="./img/others/license/item-10.png" alt="3" >
            </div>
            <div class="item" data-slide="4">
                <img src="./img/others/license/item-11.png" alt="4" >
            </div>
            <div class="item" data-slide="5">
                <img src="./img/others/license/item-12.png" alt="5" >
            </div>
            <div class="item" data-slide="6">
                <img src="./img/others/license/item-13.png" alt="6" >
            </div>
            <div class="item" data-slide="7">
                <img src="./img/others/license/item-9.png" alt="7" >
            </div>
            <div class="item" data-slide="8">
                <img src="./img/others/license/item-8.png" alt="1" >
            </div>
            <div class="item" data-slide="9">
                <img src="./img/others/license/item-9.png" alt="2" >
            </div>
            <div class="item" data-slide="10">
                <img src="./img/others/license/item-10.png" alt="3" >
            </div>
            <div class="item" data-slide="11">
                <img src="./img/others/license/item-11.png" alt="4" >
            </div>
            <div class="item" data-slide="12">
                <img src="./img/others/license/item-12.png" alt="5" >
            </div>
            <div class="item" data-slide="13">
                <img src="./img/others/license/item-13.png" alt="6" >
            </div>
            <div class="item" data-slide="14">
                <img src="./img/others/license/item-12.png" alt="7" >
            </div>
        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>
