<% var data = {
title: "Волжский утес"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>


<div class="search" id="search" style="background-image: url('./img/others/backgrounds/standart-program-bg.png');">

    <!-- Десптопная/плашнетная версия -->
    <div class="container for-booking">
        <div class="hide-mobile">
            <div class="breadcrumbs breadcrumbs-white">
                <a href="/">Главная</a>
                <a href="/">Лечебные программы</a>
                <span>Стандарт</span>
            </div>
            <p class="search-caption">Лечебная программа «Стандарт»</p>
            <p class="search-text">
                Заболевания органов кровообращения,
                заболевания опорно-двигательного аппарата, заболевания нервной системы,
                заболевания органов желудочно-кишечного тракта.
            </p>
        </div>

        <!-- Для мобильной версии -->
        <div class="hide-desktop">
            <div class="welcome" style="background-image:url('./img/others/backgrounds/standart-program-bg.png');">
                <div class="breadcrumbs breadcrumbs-white">
                    <a href="/">Главная</a>
                    <a href="/">Лечебные программы</a>
                    <span>Стандарт</span>
                </div>
                <p class="search-caption">Лечебная программа «Стандарт»</p>
                <p class="search-text">
                    Заболевания органов кровообращения,
                    заболевания опорно-двигательного аппарата, заболевания нервной системы,
                    заболевания органов желудочно-кишечного тракта.
                </p>
            </div>

            <a class="select-date" data-empty="" data-holidays="" href="#" id="select_date">

                <div class="date-wrap in" id="date_in">
                    <p class="label">Дата заезда</p>
                    <div class="date">
                        <p class="day"></p>
                        <p class="month"></p>
                        <p class="weekday"></p>
                    </div>
                </div>

                <div class="date-wrap out" id="date_out">
                    <p class="label">Дата выезда</p>
                    <div class="date">
                        <p class="day"></p>
                        <p class="month"></p>
                        <p class="weekday"></p>
                    </div>
                </div>

                <div class="nights">
                    <i class="icon icon-moon"></i>
                    <p></p>
                </div>
            </a>

            <div class="hr"></div>

            <div id="select_rooms_guest_count">
                <div class="select-count">
                    <a class="button-action minus disable" href="#"><i class="icon icon-minus"></i></a>
                    <div class="count-field">
                        <div class="label">Номеров</div>
                        <input class="number" data-max="9" data-min="1" data-type="rooms" type="number" value="1">
                    </div>
                    <a class="button-action plus" href="#"><i class="icon icon-plus"></i></a>
                </div>

                <div class="hr"></div>

                <div class="select-count">
                    <a class="button-action minus disable" href="#"><i class="icon icon-minus"></i></a>
                    <div class="count-field">
                        <div class="label">Взрослых</div>
                        <input class="number" data-max="9" data-min="1" data-type="adults" type="number" value="2">
                    </div>
                    <a class="button-action plus" href="#"><i class="icon icon-plus"></i></a>
                </div>

                <div class="hr"></div>

                <div class="select-count">
                    <a class="button-action minus disable" href="#"><i class="icon icon-minus"></i></a>
                    <div class="count-field">
                        <div class="label">Детей</div>
                        <input class="number" data-max="4" data-min="0" data-type="childs" type="number" value="0">
                    </div>
                    <a class="button-action plus" href="#"><i class="icon icon-plus"></i></a>
                </div>

                <div class="hr"></div>

                <div class="childs-age hide">
                    <p class="label">Возраст детей</p>
                    <div class="childs-age-selects">
                    </div>
                </div>
            </div>
        </div>
        <!-- END Для мобильной версии -->

        <form action="#/api/bookings.getAvailableBookings2" class="form" method="POST">
            <div class="field-col hide-mobile" data-empty="" data-holidays="" data-reserv_rangepicker>
                <div class="field for-date" data-date_start="">
                    <i class="icon icon-in"></i>
                    <span class="text" data-date></span>
                    <span class="text gray" data-weekday></span>
                    <input name="date_start" type="hidden" value="">
                </div>
                <div class="field for-date" data-date_end="">
                    <i class="icon icon-in"></i>
                    <span class="text" data-date></span>
                    <span class="text gray" data-weekday></span>
                    <input name="date_end" type="hidden" value="">
                </div>
            </div>
            <div class="field-col hide-mobile">
                <div class="select-guests-wrapper" data-reserv_select_guests="">
                    <div class="field" data-button_popup>
                        <i class="icon icon-person"></i>
                        <span class="text" data-value_text></span>
                    </div>
                    <div class="popup-fields" data-popup_fields>
                        <div class="item">
                            <span class="item-label">Номеров</span>
                            <div class="control" data-type="rooms">
                                <a class="action-button minus disable" href="#"><i class="icon icon-minus"></i></a>
                                <input class="number" data-count_rooms_field data-max="9" data-min="1"
                                       maxlength="1" name="count_rooms" type="text" value="1">
                                <a class="action-button plus" href="#"><i class="icon icon-plus"></i></a>
                            </div>
                        </div>
                        <div class="item">
                            <span class="item-label">Взрослых</span>
                            <div class="control" data-type="adults">
                                <a class="action-button minus" href="#"><i class="icon icon-minus"></i></a>
                                <input class="number" data-count_adults_field data-max="9"
                                       data-min="1" maxlength="1" name="count_adults" type="text"
                                       value="2">
                                <a class="action-button plus" href="#"><i class="icon icon-plus"></i></a>
                            </div>
                        </div>
                        <div class="item">
                            <span class="item-label">Детей</span>
                            <div class="control" data-type="childs">
                                <a class="action-button minus disable" href="#"><i class="icon icon-minus"></i></a>
                                <input class="number" data-count_childs_field data-max="4" data-min="0"
                                       maxlength="1" name="count_childs" type="text" value="0">

                                <a class="action-button plus" href="#"><i class="icon icon-plus"></i></a>
                            </div>
                        </div>
                        <div class="item childs-age hide" data-childs_age>
                            <span class="label-childs">Возраст детей</span>
                            <div class="childs-age-selects" data-childs_age_selects></div>
                        </div>
                    </div>
                </div>

            </div>

            <button class="button" type="submit">Найти номера <br>по лучшей цене</button>

            <input name="channel" type="hidden" value="136">

            <div class="clr"></div>
        </form>

        <div style="display: none;">
            <input id="language" type="hidden" value="ru">
        </div>

    </div>
</div>


<div class="gallery__slider">
    <div class="gallery__slider-wrapper">
        <div class="gallery__slider-close"></div>
        <div class="gallery-prev">
            <span class="icon-up-arrow-3"></span>
        </div>
        <div class="gallery__slider-big"></div>
        <div class="gallery-next">
            <span class="icon-up-arrow-3"></span>
        </div>
        <div class="gallery__slider-small"></div>

    </div>
</div>
<div class="section sections-block p-b-0">
    <div class="container">
        <h2 class="m-t-0">Галерея</h2>
        <div class="gallery">
            <div class="row">
                <div class="col w-33 w-50-tablet w-50-mobile gallery__item" data-slide="1">
                    <div class="item">
                        <img alt="1" src="./img/others/gallery/item-1.png">
                    </div>
                </div>
                <div class="col w-33 w-50-tablet w-50-mobile gallery__item" data-slide="2">
                    <div class="item">
                        <img alt="2" src="./img/others/gallery/item-2.png">
                    </div>
                </div>
                <div class="clr hide-desktop"></div>
                <div class="col w-33 w-50-tablet w-50-mobile gallery__item" data-slide="3">
                    <div class="item">
                        <img alt="3" src="./img/others/gallery/item-3.png">
                    </div>
                </div>
                <div class="clr hide-mobile hide-tablet"></div>
                <div class="col w-33 w-50-tablet w-50-mobile gallery__item" data-slide="4">
                    <div class="item">
                        <img alt="4" src="./img/others/gallery/item-4.png">
                    </div>
                </div>
                <div class="clr hide-desktop"></div>
                <div class="col w-33 w-50-tablet w-50-mobile gallery__item" data-slide="5">
                    <div class="item">
                        <img alt="5" src="./img/others/gallery/item-5.png">
                    </div>
                </div>
                <!-- После data-slide="5" - этот 6 блок общий-->
                <div class="col w-33 w-50-tablet w-50-mobile gallery__item" data-slide="1">
                    <div class="item more-item">
                        <img alt="5" src="./img/others/gallery/item-5.png">
                        <span>Еще <span>3</span> фото</span>
                        <div class="yellow-bg"></div>
                    </div>
                </div>
                <div class="clr hide-mobile hide-tablet"></div>
                <!-- После data-slide="5" следующие блоки скрыты-->
                <div class="col w-33 w-50-tablet w-50-mobile gallery__item hidden" data-slide="6">
                    <div class="item">
                        <img alt="1" src="./img/others/gallery/item-1.png">
                    </div>
                </div>
                <div class="col w-33 w-50-tablet w-50-mobile gallery__item hidden" data-slide="7">
                    <div class="item">
                        <img alt="2" src="./img/others/gallery/item-2.png">
                    </div>
                </div>
                <div class="col w-33 w-50-tablet w-50-mobile gallery__item hidden" data-slide="8">
                    <div class="item">
                        <img alt="3" src="./img/others/gallery/item-3.png">
                    </div>
                </div>
                <div class="col w-33 w-50-tablet w-50-mobile gallery__item hidden" data-slide="9">
                    <div class="item">
                        <img alt="4" src="./img/others/gallery/item-4.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section sections-block p-t-0">
    <div class="container">
        <h2 class="m-t-0">Показана при соматических заболеваниях, включая:</h2>
        <ul class="basic-list">
            <li>заболевания сердечно-сосудистой системы</li>
            <li>заболевания опорно-двигательного аппарата</li>
            <li>заболевания нервной системы</li>
            <li>заболевания органов желудочно-кишечного тракта</li>
            <li>эндокринную патологию</li>
        </ul>
    </div>
</div>

<div class="section sections-block section-grey-bg m-b-50">
    <div class="container">
        <h2 class="m-t-0">Описание программы</h2>

        <select class="select" name="" id="program-select">
            <option value="1">Срок путевки 10 - 12 дней</option>
            <option value="2">Срок путевки 12 - 20 дней</option>
            <option value="3">Срок путевки 20 - 30 дней</option>
        </select>

        <div class="program-table" data-program="1">
            <span class="color-info">кол-во продедур</span>

            <div class="item">
                <div class="number">
                    <span>3</span>
                </div>
                <div class="desc">
                    <h3>Наблюдение лечащего врача</h3>
                    <p>Первичный осмотр, повторное наблюдение через 3-4 дня</p>
                </div>
            </div>
            <div class="item">
                <div class="number">
                    <span>2</span>
                </div>
                <div class="desc">
                    <h3>Консультации специалистов (уролог, невролог, кардиолог, диетолог, стоматолог, иглорефлексотерапевт, лор-врач, гинеколог, офтальмолог, озонотерапевт, травматолог, эндокринолог,
                        врач ЛФК, гастроэнтеролог)</h3>
                    <p>По назначению врача</p>
                </div>
            </div>
            <div class="item">
                <div class="number">
                    <span>1</span>
                </div>
                <div class="desc">
                    <h3>Общий (клинический) анализ крови</h3>
                    <p>Повторно при патологии</p>
                </div>
            </div>
            <div class="item">
                <div class="number">
                    <span>1</span>
                </div>
                <div class="desc">
                    <h3>Биохимический анализ крови (глюкоза, холестерин, триглицериды, а-холестерин, креатинин)</h3>
                    <p>Повторно при патологии</p>
                </div>
            </div>
            <div class="item">
                <div class="number">
                    <span>1</span>
                </div>
                <div class="desc">
                    <h3>Анализ мочи</h3>
                    <p>Повторно при патологии</p>
                </div>
            </div>
            <div class="item">
                <div class="number">
                    <span class="not-number"></span>
                </div>
                <div class="desc">
                    <h3>Ультразвуковая диагностика (УЗИ почек, брюшной полости, щитовидной железы, малого таза -1 вид из перечисленных)</h3>
                    <p>По профилю, от 14 дней пребывания</p>
                </div>
            </div>
            <div class="item">
                <div class="number">
                    <span class="not-number"></span>
                </div>
                <div class="desc">
                    <h3>Рентгенологическое обследование </h3>
                    <p>По показаниям (2 сустава или отдел позвоночника)</p>
                </div>
            </div>
            <div class="item">
                <div class="number">
                    <span>1</span>
                </div>
                <div class="desc">
                    <h3>ЭКГ</h3>
                    <p>Повторно при патологии</p>
                </div>
            </div>
            <div class="item">
                <div class="number">
                    <span>1</span>
                </div>
                <div class="desc">
                    <h3>Нагрузочное тестирование (с 12 дней пребывания)</h3>
                    <p>По показаниям</p>
                </div>
            </div>
            <div class="item">
                <div class="number">
                    <span class="text">ежедневно</span>
                </div>
                <div class="desc">
                    <h3>Лечебная гимнастика (в зале и в бассейне) </h3>
                    <p>Суббота, воскресенье-выходной</p>
                </div>
            </div>
        </div>
        <div class="program-table hide" data-program="2">
            <span class="color-info">кол-во продедур</span>

            <div class="item">
                <div class="number">
                    <span>43</span>
                </div>
                <div class="desc">
                    <h3>Наблюдение лечащего врача</h3>
                    <p>Первичный осмотр, повторное наблюдение через 3-4 дня</p>
                </div>
            </div>
            <div class="item">
                <div class="number">
                    <span>2</span>
                </div>
                <div class="desc">
                    <h3>Консультации специалистов (уролог, невролог, кардиолог, диетолог, стоматолог, иглорефлексотерапевт, лор-врач, гинеколог, офтальмолог, озонотерапевт, травматолог, эндокринолог,
                        врач ЛФК, гастроэнтеролог)</h3>
                    <p>По назначению врача</p>
                </div>
            </div>
            <div class="item">
                <div class="number">
                    <span>1</span>
                </div>
                <div class="desc">
                    <h3>Общий (клинический) анализ крови</h3>
                    <p>Повторно при патологии</p>
                </div>
            </div>
            <div class="item">
                <div class="number">
                    <span>1</span>
                </div>
                <div class="desc">
                    <h3>Биохимический анализ крови (глюкоза, холестерин, триглицериды, а-холестерин, креатинин)</h3>
                    <p>Повторно при патологии</p>
                </div>
            </div>
            <div class="item">
                <div class="number">
                    <span>1</span>
                </div>
                <div class="desc">
                    <h3>Анализ мочи</h3>
                    <p>Повторно при патологии</p>
                </div>
            </div>
            <div class="item">
                <div class="number">
                    <span class="not-number"></span>
                </div>
                <div class="desc">
                    <h3>Ультразвуковая диагностика (УЗИ почек, брюшной полости, щитовидной железы, малого таза -1 вид из перечисленных)</h3>
                    <p>По профилю, от 14 дней пребывания</p>
                </div>
            </div>
            <div class="item">
                <div class="number">
                    <span class="not-number"></span>
                </div>
                <div class="desc">
                    <h3>Рентгенологическое обследование </h3>
                    <p>По показаниям (2 сустава или отдел позвоночника)</p>
                </div>
            </div>
            <div class="item">
                <div class="number">
                    <span>1</span>
                </div>
                <div class="desc">
                    <h3>ЭКГ</h3>
                    <p>Повторно при патологии</p>
                </div>
            </div>
            <div class="item">
                <div class="number">
                    <span>1</span>
                </div>
                <div class="desc">
                    <h3>Нагрузочное тестирование (с 12 дней пребывания)</h3>
                    <p>По показаниям</p>
                </div>
            </div>
            <div class="item">
                <div class="number">
                    <span class="text">ежедневно</span>
                </div>
                <div class="desc">
                    <h3>Лечебная гимнастика (в зале и в бассейне) </h3>
                    <p>Суббота, воскресенье-выходной</p>
                </div>
            </div>
        </div>
        <div class="program-table hide" data-program="3">
            <span class="color-info">кол-во продедур</span>

            <div class="item">
                <div class="number">
                    <span>5</span>
                </div>
                <div class="desc">
                    <h3>Наблюдение лечащего врача</h3>
                    <p>Первичный осмотр, повторное наблюдение через 3-4 дня</p>
                </div>
            </div>
            <div class="item">
                <div class="number">
                    <span>2</span>
                </div>
                <div class="desc">
                    <h3>Консультации специалистов (уролог, невролог, кардиолог, диетолог, стоматолог, иглорефлексотерапевт, лор-врач, гинеколог, офтальмолог, озонотерапевт, травматолог, эндокринолог,
                        врач ЛФК, гастроэнтеролог)</h3>
                    <p>По назначению врача</p>
                </div>
            </div>
            <div class="item">
                <div class="number">
                    <span>1</span>
                </div>
                <div class="desc">
                    <h3>Общий (клинический) анализ крови</h3>
                    <p>Повторно при патологии</p>
                </div>
            </div>
            <div class="item">
                <div class="number">
                    <span>1</span>
                </div>
                <div class="desc">
                    <h3>Биохимический анализ крови (глюкоза, холестерин, триглицериды, а-холестерин, креатинин)</h3>
                    <p>Повторно при патологии</p>
                </div>
            </div>
            <div class="item">
                <div class="number">
                    <span>1</span>
                </div>
                <div class="desc">
                    <h3>Анализ мочи</h3>
                    <p>Повторно при патологии</p>
                </div>
            </div>
            <div class="item">
                <div class="number">
                    <span class="not-number"></span>
                </div>
                <div class="desc">
                    <h3>Ультразвуковая диагностика (УЗИ почек, брюшной полости, щитовидной железы, малого таза -1 вид из перечисленных)</h3>
                    <p>По профилю, от 14 дней пребывания</p>
                </div>
            </div>
            <div class="item">
                <div class="number">
                    <span class="not-number"></span>
                </div>
                <div class="desc">
                    <h3>Рентгенологическое обследование </h3>
                    <p>По показаниям (2 сустава или отдел позвоночника)</p>
                </div>
            </div>
            <div class="item">
                <div class="number">
                    <span>1</span>
                </div>
                <div class="desc">
                    <h3>ЭКГ</h3>
                    <p>Повторно при патологии</p>
                </div>
            </div>
            <div class="item">
                <div class="number">
                    <span>1</span>
                </div>
                <div class="desc">
                    <h3>Нагрузочное тестирование (с 12 дней пребывания)</h3>
                    <p>По показаниям</p>
                </div>
            </div>
            <div class="item">
                <div class="number">
                    <span class="text">ежедневно</span>
                </div>
                <div class="desc">
                    <h3>Лечебная гимнастика (в зале и в бассейне) </h3>
                    <p>Суббота, воскресенье-выходной</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section sections-block p-b-0 p-t-0">
    <div class="container">
        <h2 class="m-t-0">Ранний заезд и поздний выезд:</h2>
        <div class="text-content">
            <div class="item">
                <h3>Отъезд после расчетного времени:</h3>
                <p>до 10.00 часов - 150 руб.</p>
                <p>до 11.00 часов - 350 руб.</p>
                <p>до 12.00 часов - 700 руб.</p>
                <p>после 12.00 часов оплачивается полная стоимость путевки за сутки.</p>
            </div>
            <div class="item">
                <h3>Ранний заезд (накануне):</h3>
                <p>с 21.00 часа предыдущих суток - 700 руб.</p>
                <p>с 20.00 часа предыдущих суток - 800 руб.</p>
                <p>с 19.00 часа предыдущих суток - 900 руб.</p>
                <p>с 18.00 часа предыдущих суток - 1 000 руб.</p>
                <p>за ранний заезд с 24 часов предыдущих суток до 9 часов расчетного часа плата не взимается.</p>
            </div>
            <p class="m-b-30">Показания и противопоказания по санаторному лечению в ФГБУ «Санаторий «Волжский Утес» определяет врач по месту жительства.</p>
            <p class="m-b-30">
                Приезжающий на лечение в санаторий должен иметь санаторно-курортную карту, полис обязательного медицинского страхования. При отсутствии санаторно-курортной карты пациент оформляет ее в
                санатории за наличный расчет. Все диагностические исследования и лечебные процедуры назначаются лечащим врачом санатория. При составлении плана обследования и лечения обязательно
                учитываются индивидуальные особенности пациента, его общее состояние, основное и сопутствующие заболевания, а также сочетаемость процедур.
            </p>
            <p class="m-b-30">
                *Возможна замена процедур по индивидуальному согласованию.
            </p>
        </div>
    </div>
</div>

<div class="section s-block">
    <div class="container">
        <h2 class="m-t-0">Может быть интересно</h2>
        <div class="points-blocks">
            <div class="row">
                <div class="col w-33 w-50-tablet w-50-mobile">
                    <a href="" class="choice-points-block b1i1">
                        <img alt="1" src="./img/others/services/item-5.png">
                        <div class="info">
                            <div class="main">
                                <div class="main-content">
                                    <h4 class="subtitle22">Оздоровление</h4>
                                    <span class="price">от 3 540 ₽</span>
                                </div>
                            </div>
                            <div class="desc">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aut dolorem eum ex quod recusandae rerum vero voluptates! Quo, ullam.
                                </p>
                            </div>
                        </div>
                        <div class="hover-bg"></div>
                    </a>
                </div>
                <div class="col w-33 w-50-tablet w-50-mobile">
                    <a href=""  class="choice-points-block b1i2">
                        <img alt="1" src="./img/others/services/item-6.png">
                        <div class="info">
                            <div class="main">
                                <div class="main-content">
                                    <h4 class="subtitle22">Базовая</h4>
                                    <span class="price">от 3 540 ₽</span>
                                </div>
                            </div>
                            <div class="desc">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aut dolorem eum ex quod recusandae rerum vero voluptates! Quo, ullam.
                                </p>
                            </div>
                        </div>
                        <div class="hover-bg"></div>
                    </a>
                </div>
                <div class="clr hide-desktop"></div>
                <div class="col w-33 w-50-tablet w-50-mobile ">
                    <a href="" class="choice-points-block b1i3">
                        <img alt="1" src="./img/others/services/item-7.png">
                        <div class="info">
                            <div class="main">
                                <div class="main-content">
                                    <h4 class="subtitle22">Стандарт</h4>
                                    <span class="price">от 3 540 ₽</span>
                                </div>
                            </div>
                            <div class="desc">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aut dolorem eum ex quod recusandae rerum vero voluptates! Quo, ullam.
                                </p>
                            </div>
                        </div>
                        <div class="hover-bg"></div>
                    </a>
                </div>
                <div class="clr hide-mobile"></div>
            </div>
        </div>
    </div>
</div>


<%= _.template(require('./../includes/footer.html').default)(data) %>
