.breadcrumbs {
    text-align: center;
    margin-bottom: 19px;
    a, span {
        display: inline-block;
        font-family: $fontBase;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 25px;
        text-align: center;
        letter-spacing: 0.03em;
        color: $colorGray;
    }
    a {
        text-decoration: none;
        margin-right: 5px;
        transition: 0.5s;
        &:after {
            content: '/';
            display: inline-block;
            margin-left: 6px;
        }
        @include desktop {
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &.breadcrumbs-white {
        a, span {
            color: $colorMain;
        }
    }
    @include desktop {
        padding-top: 40px;
        margin-bottom: 0;
    }
    @include mobile {
        padding-top: 20px;
    }
}
